header {
     position: relative;
     min-height: 25rem;
     width: 100%;
     overflow: hidden;
}
 html {
     font-size: 100%;
}
 header video {
     position: absolute;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: 0;
     -ms-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
}
 header .container {
     position: relative;
     z-index: 2;
}
 header .overlay {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     opacity: 0.5;
     z-index: 1;
}
 @media (pointer: coarse) and (hover: none) {
     header {
         background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
     header video {
         display: none;
    }
}
 .navbar {
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
     font-size: 12px;
     letter-spacing: 5px;
}
 .navbar-nav li a:hover {
     color: yellow;
}
 .navbar-nav li {
     letter-spacing: -1px;
}
 .navbar-nav{
}
 hr{
     color: #686872;
}
 .p-2 a {
     color: white;
}
 .nav.navbar-nav>li {
     float: left;
}
 .navbar-brand span {
     color: white;
}
 .navbar-brand{
     padding-top: 4px;
     padding-right: 15px;
     padding-bottom: 15px;
     padding-left: 0px;
     margin-left:0px;
}
 .page-footer{
     position: relative;
}
 .my-5 video{
     background-color: black;
}
 .footer-socials{
     color:yellow;
}
 .logo {
     padding: 10px 10px 10px 0px;
}
 .name {
     font-size: 14px;
     color: #333;
     padding-top: 15px;
}
 .w-100{
     margin-top: 0px;
}
 .list-inline img{
     margin-top: 1px;
}
 .card img{
     max-width:100%;
     height: 200px 
}
 .hiddencard{
     visibility: hidden;
     opacity: 0;
}
 .card-body:hover .hiddencard{
     visibility: visible;
     opacity: 1;
}
